:root{
    --PrimaryColor: hsl(26, 93%, 50%);
    --HoverColor: hsl(26, 90%, 42%);
    --WhiteColor: hsl(0, 0%, 100%);
    --BlackColor: hsl(0, 0%, 18%);
    --textColor: hsl(240, 1%, 48%);
    --WhiteColorDeam: hsl(0, 0%, 93%);
    --greyText: rgb(190, 190, 190);
    --greyBg: hsl(0, 0%, 96%);
    --inputColor: hsl(330, 12%, 97%);
}
:root {
    --tw-bg-opacity: 1; /* Set the opacity value here */
}

.navBarSection{
    .header{
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: transparent;
        width: 100%;
        padding: 1rem;
        z-index: 10000;

        .logoDiv{
            .logo{
                color: var(--WhiteColor);
                font-weight: 500;
                cursor: pointer;
                align-items: center;
                justify-content: center;

                .icon{
                    font-size: 25px !important;
                    margin-right: 10px;
                }
            }
        }
    }
    .activeHeader{
        background: rgba(128, 128, 128, 0.466) ;
        box-shadow: 0 2px 8px 2px rgba(178, 178, 178, 0.45);
    }

}

@media screen and (min-width: 769px) {
    .header{
        padding: 1.5rem 2rem !important;
    }
}

.remove{
    display: none !important;
}
.signBtn{
    background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
    border: none;
    padding: .4rem 1.5rem;
    outline: none;
    font-size: 1.4rem;
    cursor: pointer;
    
    &:hover{
        color: var(--WhiteColor);
        outline: none;
        background-color: rgb(100, 100, 247);
        a{
            color: #fff;
        }
    }
}