:root{
    --PrimaryColor: hsl(26, 93%, 50%);
    --HoverColor: hsl(26, 90%, 42%);
    --WhiteColor: hsl(0, 0%, 100%);
    --BlackColor: hsl(0, 0%, 18%);
    --textColor: hsl(240, 1%, 48%);
    --WhiteColorDeam: hsl(0, 0%, 93%);
    --greyText: rgb(190, 190, 190);
    --greyBg: hsl(0, 0%, 96%);
    --inputColor: hsl(330, 12%, 97%);
    --boxShadow: box-shadow: 0 2px 8px 2px rgba(178, 178, 178, 0.45);
}

.popular{
    padding-top: 15rem;
    margin-top: 4rem;
    .secContainer{
        .secHeader{
            flex-direction: column;
            align-items: center;
            gap: 1rem;
            .textDiv{
                .secTitle{
                    // color: var(--BlackColor);
                    line-height: 1.5rem;
                    padding: 1rem 0;

                }
                p{
                    font-size: 13px;
                    color: var(--textColor);
                    font-weight: 500;
                    text-transform: uppercase;
                }
            }
            
        }
    }

    .mainContent{
        padding: 2rem;
        margin-top: 3rem;
        gap: 2rem;
        .singleDestinantion{
            overflow: hidden;
            border-radius: 1rem;
            .destImage{
                height: 350px;
                width: 100%;
                overflow: hidden;
                img{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                border-radius: 1rem;

                }
               
            }
            .destFooter{
                .destText{
                    margin-top: .8rem;
                    h6{
                        font-size: 20px;
                        // color: var(--BlackColor);
                    }

                    .flex{
                        font-size: 16px;
                        font-weight: 600;
                        align-items: flex-start;
                        transform: translateY(5px);

                        .icon{
                            color: var(--PrimaryColor);
                        }
                    }
                }
            }

            &:hover{
                .overlayInfo{
                    overflow: visible;
                    padding: 1rem 1.5rem;
                    height: 100%;
                }

            }
        }
    }
}



@media screen and (min-width: 488px) {
    .popular{
        padding-top: 10rem;
        
    }
}


@media screen and (min-width: 556px) {
    .mainContent{
        grid-template-columns: repeat(3, 1fr) !important;
        gap: 1.5rem !important;
    }
    .popular{
        .secContainer{
            .secHeader{
                width: 100%;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                .textDiv{
                    text-align: start;
                    max-width: 70%;
                    padding-left: 1.9rem;
                }

                .iconsDiv{
                    justify-content: flex-end;
                }
            }
        
        }
        
    }
}


@media screen and (min-width: 720px) {
    .popular{
        padding-top: 7rem;
        
    }
}


@media screen and (min-width: 1024px) {
    .popular{
        padding-top: 10rem;
        .secContainer{
            .secHeader{

                .textDiv{
                    .secTitle{
                        font-size: 2.2rem;
                    }
                    p{
                        font-size: 15px;
                    }
                }
            }
            .mainContent{
                grid-template-columns: repeat(4, 1fr);
                gap: 1.5rem !important;
            }
        }
    }
}

