:root{
    --PrimaryColor: hsl(26, 93%, 50%);
    --HoverColor: hsl(26, 90%, 42%);
    --WhiteColor: hsl(0, 0%, 100%);
    --BlackColor: hsl(0, 0%, 18%);
    --textColor: hsl(240, 1%, 48%);
    --WhiteColorDeam: hsl(0, 0%, 93%);
    --greyText: rgb(190, 190, 190);
    --greyBg: hsl(0, 0%, 96%);
    --inputColor: hsl(330, 12%, 97%);
}

.offer{
    // background-size: cover;
    padding: 0 ;
    .secContainer{
        padding: 0 !important;
        .out{
            // color: red;
            font-size: 50px;
            padding: 2rem 0;
            cursor: pointer;
            &:hover{
                color: red;
            }
        }
        h1{
            margin-top: 1rem;
            &:hover{
                color: red;
                cursor: pointer;
            }
        }
        .secIntro{
            h1{
                color: red;
                font-size: 50px;
            }
            p{
                font-size: 18px;
                padding: .8rem 0;
            }
        }
    }
    .Container{
        .mainContent{
            gap: 1rem;

            .singleOffer{
                border-radius: 1rem;
                overflow: hidden;
                padding: 0.5rem;
                box-shadow: 0 2px 8px 2px rgba(178, 178, 178, 0.189);
                .icon{
                    font-size: 20px;
                    color: var(--textColor);
                }
                small{
                    font-weight: 500;
                    color: var(--textColor);
                }
                .destImage{
                    position: relative;
                    height: 200px;
                    width: 100%;
                    border-radius: 1rem;
                    overflow: hidden;
                    // display: none;
                    img{
                        height: 100%;
                    }
                    .discount{
                        position: absolute;
                        top: 10px;
                        right: 10px;
                        padding: 5px 10px;
                        background: var(--PrimaryColor);
                        color: var(--WhiteColor);
                        border-radius: 3rem;
                        font-size: 10px;
                        font-weight: 500;
                    }
                }
                .offerBody{
                    padding: 1rem;
                    .price{
                        justify-content: space-between;
                        h4{
                            color: var(--BlackColor);
                            font-weight: 700;
                            font-size: 1.1rem;
                        }
                        .status{
                            padding: 5px 10px;
                            color: var(--HoverColor);
                            background: var(--greyBg);
                            font-size: 10px;
                            font-weight: 600;
                            border-radius: 3rem;
                        }
                    }

                    .amenities{
                        width: 100%;
                        flex-wrap: wrap;
                        justify-content: flex-start;
                        padding: 1rem 0;
                        gap: .5rem;

                        .singleAmenity{
                            padding: 5px 10px;
                            border-radius: 5px;
                            background: var(--greyBg);
                            gap: .5rem;
                        }
                    }

                    .btn{
                        margin-top: 1rem;
                        width: 100%;
                        text-align: center;
                        padding: .6rem;
                        color: var(--WhiteColor);
                        font-weight: 600;
                        gap: .5rem;
                        .icon{
                            color: var(--WhiteColor);
                        }
                    }
                }

                &:hover{
                    transform: translateY(-7px);
                }
            }
        }

        
    }
}

@media screen and (max-width: 1030px) {
    .secIntro{
        h1{
            line-height: 4rem !important;
            font-size: 17px;
        }
    }
}