:root{
    --PrimaryColor: hsl(26, 93%, 50%);
    --HoverColor: hsl(26, 90%, 42%);
    --WhiteColor: hsl(0, 0%, 100%);
    --BlackColor: hsl(0, 0%, 18%);
    --textColor: hsl(240, 1%, 48%);
    --WhiteColorDeam: hsl(0, 0%, 93%);
    --greyText: rgb(190, 190, 190);
    --greyBg: hsl(0, 0%, 96%);
    --inputColor: hsl(330, 12%, 97%);
}

.offer{
    .secContainer{
        padding: 0 !important;
        .out{
            font-size: 50px;
            padding: 2rem 0;
            cursor: pointer;
            &:hover{
                color: red;
                cursor: pointer;
            }
        }
        
        .secIntro{
            h1{
                color: red;
                font-size: 50px;
            }
            p{
                font-size: 18px;
                padding: .8rem 0;
            }
        }
    }
    
}

@media screen and (max-width: 1030px) {
    .secIntro{
        h1{
            line-height: 4rem !important;
            font-size: 17px;
        }
    }
}